/* TT Interphases Pro (Trial) — local @font-face.
   NOTE: Trial license — confirm web font usage rights before production. */

@font-face {
  font-family: 'TT Interphases';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../imports/fonts/TTInterphasesPro-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'TT Interphases';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('../imports/fonts/TTInterphasesPro-LightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'TT Interphases';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../imports/fonts/TTInterphasesPro-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'TT Interphases';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('../imports/fonts/TTInterphasesPro-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'TT Interphases';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../imports/fonts/TTInterphasesPro-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'TT Interphases';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('../imports/fonts/TTInterphasesPro-MediumItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'TT Interphases';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../imports/fonts/TTInterphasesPro-DemiBold.ttf') format('truetype');
}
